body{
  font-family: 'Roboto', 'sans-serif';
  margin: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit  */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko         */
  box-sizing: border-box;
  background-color: #f7f7f7;

}
div, a, input, select{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
#container{
 /* max-width: 900px; */
}


h1{
  margin-left:10px;
  color: #888888;
}

a{
  text-decoration: none;
}

td.datacell{
  background: #f9f8f5;
}
td.header{
  font-weight: bold;
  background: #eeeeee;
}

#header h1{
 margin:0;
}

#feedback{
  padding: 10px;
  margin:10px;
}

.notice{
  background-color: #eeefff;
  /* border: 1px solid #aaabbb; */
}
.success{
  background-color: #ccffcc;
}
.error{
  background-color: #ffcccc;
}

.section, #current_session_info{
  border: 1px solid #cccccc;
  padding: 15px;
  margin:10px;
  margin-top: 20px;
}


.button{
  padding: 3 10 3 10px;
  border: 1px solid #bbbbbb;
  margin: 10px;
  background-color: #dddddd;
  display: inline-block;
  cursor:pointer;
  font-size: 1rem;
  color: #333;
}
/*
.field-end-button{
  display: inline-block;
  border-radius: 0px 5px 5px 0;
  width: 6%;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 15px;
  margin-left:0px;
  margin-right:0px;
}
*/

.field-end-button{
  display: inline-block;

  width: 15%;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 0;
  padding-right: 0;
  margin:0;
  border: 0;
  text-align:center;
}


.glommed-field-div{
  /* border-radius: 5px;  */
  /* border: 1px solid #ccc; */
  background: #fff;
  padding-left: 0px;
}

#tasklist-new-task-form{
  margin-bottom: 1em;
}

.button:active{
  background-color: #666;
}

.button:hover{
  background-color: #cccccc;
}

form{
  margin: 0;
  padding: 0;
}

input[type=text], select, textarea{
  font-size: 1rem;
  padding: 3 10 3 10px;
  border: 1px solid #bbbbbb;
  display: inline-block;
  color: #333333;
  /* width: 45%; */

}

#edit-popup input,#edit-popup select,#edit-popup textarea{
  width: 60%;
}

.edit-field{
  padding-bottom: 1em;
}

.edit-field input, .edit-field select, .edit-field textarea{
  margin-left: 15px;
}



#edit-popup{
  text-align:right;
}

#edit-popup h3{
  text-align: center;
  margin-top: -0.5em;
  color: #444;
}

/*
input.button-end-field{
  display: inline-block;
  margin: 7px 0 7px 0px;
  border-right: 0;
  padding: 8px 5px 6px 9px;
  border-radius: 5px 0 0 5px;
  width: 90%;
  background-color: #fafafa;
}
*/
input.button-end-field{
  display: inline-block;
  margin: 0;
  border: 0;

  border-radius: 5px 0 0 5px;
  padding: 0px 5px 0px 14px;
  width: 85%;
}
input.button-end-field:active{
  border: 0;
}

.section-title{
  padding: 5px;
  background-color: #fff;
  display: inline-block;
}

.section-title-container{
  margin-top: -30px;
  margin-left: 20px;

  color: #bbbbbb;
}

#current_duration{
  font-weight: bold;
  padding: 10px 0 10px 0;
  font-family: sans-serif;
  color: #888888;
}

.modal-bg{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(255,255,255,0.8);
  padding: 30%;
  z-index: 1000;
  display: none;
}

#active-session{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #ffffff;
  z-index: 1000;
  display: none;
}


#active-session input[type=text]{
  width: 96%;
}

/* Session current duration - fill width */
#current_duration {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

/* Session estimate display */
#session-estimate {
  text-align: center;
  margin-bottom: 30px;
}

#session-estimate .estimate-label {
  display: block;
  font-size: 0.7em;
  color: #aaa;
  letter-spacing: 0.1em;
  margin-bottom: 2px;
}

#session-estimate .estimate-value {
  font-size: 1.2em;
  color: #5a9;
}

/* Session action buttons */
#session-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  padding: 0 10px;
}

#session-buttons .button {
  flex: 1;
  margin: 0;
  padding: 12px 20px;
  text-align: center;
}

.session-end-btn {
  background-color: #eee;
}

.session-complete-btn {
  background-color: #d4edda;
  border-color: #a8d5a8;
}

.session-complete-btn:hover {
  background-color: #c3e6cb;
}

/* Session notes input - subtle styling */
#session-notes-input {
  border: none;
  border-top: 1px solid #e0e0e0;
  background: transparent;
  text-align: left;
  color: #666;
  padding-top: 15px;
}

#session-notes-input:focus {
  outline: none;
  border-top-color: #aaa;
}

.centered-box{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.red{
  background-color: #ff9988;
}

.modal-popup{
  min-width:30%;
  max-width: 500px;
  min-height:30%;
  background-color: #fff;
  padding: 2em;
  border: 1px solid #dddddd;
  z-index: 2000;
}

a .edit{
  display:none !important;
}

#edit-json-textarea{
  width: 100%;
  height: 300px;
}

#analyze-controls input{
  padding: 5px;
  margin-left: 1em;
}
#analyze-controls input:first-child{
  margin-left: 0;
}
#analyze-controls{
  margin-top: 1em;
  margin-bottom: 2em;
}
/* Table display styles */
.datatable thead{
  padding: 0px;
  border-collapse: collapse;
  background-color: #eee;
  font-weight: bold;
  font-family: Ubuntu, hevetica, arial;
  text-align: center;
  border-right:1px solid #ddd;
  border-bottom: 2px solid #888;
  color: #666;
  vertical-align:center;
}


table.datatable{
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
}

.datatable td{
  padding: 3 8 3 8px;
  border:1px solid #ddd;
  margin:0;
}

#datatable tr:nth-child(even) {background: #fff}
#datatable tr:nth-child(odd) {background: #f8f8f8}

#view-links{
  margin: 15px;
  float: right;
}
.view-switch{
  display: block;
  float: right;
  margin-left: 20px;
  color: #aaa;
}

a.view-switch:hover{
  color: #000;
}

h1{
  margin-top: 0px;
}

.table-totals{
  font-weight: bold;
  text-align: right;
}



a.current-view{
color: #000;
}

.task{
  padding: 15px 10px 15px 10px;
  /* border-bottom: 1px solid #ccc;  */
}

.task:hover{
  background-color: #eef;
}

.Completed{
  color: #999;
}

#task-list{
  margin-top: 30px;
  margin-bottom: 3em;
}

.task-meta{
  font-size: 0.8em;
  color: #777;
  display: inline-block;
  margin-left: 20px;
}

.task-meta span:before{
  content: " | ";
}

.task-meta span:first-child:before{
  content: "";
}

.task-meta .task-estimate{
  color: #5a9;
}

/* Task star icon */
.task-star {
  cursor: pointer;
  color: #ccc;
  margin-right: 5px;
  transition: color 0.2s ease;
}

.task-star:hover {
  color: #e8c547;
}

.task-star.starred {
  color: #e8c547;
}

/* Filter star icon */
#filter-starred {
  cursor: pointer;
  color: #ccc;
  font-size: 1.2em;
  transition: color 0.2s ease;
}

#filter-starred:hover {
  color: #e8c547;
}

#filter-starred.filter-active {
  color: #e8c547;
}


/* Control Box Styles */
#client-project-controls, .view-container, #header, #feedback{
  margin: 3%;
}

.control-container:first-child{
  margin-right: 4%;
}



.control-container{
  width: 48%;
  float: left;
  /* border: 1px solid #cccccc; */
  padding: 0;
  height: 53px;
  margin-top: 20px;
  /* background-color: #fff; */
}

.control-container select, .control-container input{
  width: 80%;
  margin:0;
  border: 0;
  padding: 14px;
  font-size: 1.1em;
}

#select-client-form, #select-project-form, #add-project-form, #add-client-form{
   padding-top: 0px;
   background: #fff;
}


.control-container a:first-of-type{
  border-radius: 0 4px 4px 0;

}

.control-container .button{
  float: right;
  height: 51px;
  width: 10%;
  padding: 0;
  padding-top: 17px;
  margin: 0;
  /* margin-top: -7px !important; */
  background-color: #f1f1f1;
  border: 0;
  border-left: 1px solid #e8e8e8;
  color: #888;
  text-align:center;
}


.control-container .button:hover{
  background-color: #ccc;
}

.control-title-container{
  margin-top: -13px;
  margin-left: 12px;
  margin-bottom: 0;
  color: #bbbbbb;
}

.control-title{
  font-size: 0.95em;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0;
  /* background-color: #fff; */
  display: inline-block;
}

.rounded{
  border-radius: 5px;
}



.clearfix{
  clear: both;
}

.half-width{
  width: 45%;
  float:left;
}


#hide-completed{
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 5px;
}

#taskList-options{
  position: fixed;
  bottom: 0px;
  color: #666;
  font-size: 0.9em;
  margin-top: 2em;
  background-color: #fff;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 3%;
  margin-left: -3%;
  width: 100%;
}


/* Settings */

.settings-item{
  width: 100%;
  clear: both;
  margin-bottom: 2em;
}

.settings-label{
  width: 200px;
  float: left;
  text-align: right;
  color: #666;
}
.settings-input{
  float: left;
  margin-left: 1.2em;
}
.settings-input input, .settings-input textarea,   .settings-input select{
  padding: 6px;
  width: 400px;
}

.settings-input textarea{
  height: 100px;
  min-width: 50%;
}

.rating-star{
  cursor: pointer;
}
.rating-star:hover{
  color: #aa6600;
}


@media all and ( max-width: 650px ) {
  .control-container {
    float: none;
    width: auto;
    margin-bottom: 30px;
  }

  #header h1{
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 0;
  }

  #view-links span{
    display:none;
  }

  .half-width{
    float: none;
    width: auto;
  }
  .control-container:first-child{
    margin-right: 0;
  }
  .settings-label{
    float: none;
    width: 100%;
    text-align: left;
  }
  .settings-input{
    float: none;
    width: 100%;
    margin-left: 0;
  }


  .settings-input input, .settings-input textarea,   .settings-input select{
    width: 100%
  }

  #analyze-controls input{
    width: 100%;
    margin-left: 0;
    margin-bottom: 1em;
  }

  .centered-box{
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform: none;
    transform: none;
    padding:5%;
  }

  .modal-popup{
    width:100%;
    height: 100%;
    background-color: #fff;
    padding: 2em;
    border: 0;
    max-width: none;
  }

  #edit-popup input, #edit-popup select, #edit-popup textarea {
    width: 100%;
  }
  .edit-field input, .edit-field select, .edit-field textarea {
    margin-right: 15px;
    margin-left: 0px;
  }

  #edit-popup{
    text-align: left;
  }

  #taskList-options{
    /*position: relative;*/
  }

}

/* ###################### TODAY VIEW STYLES ###################### */

#todayView-view h3 {
  margin-bottom: 20px;
  color: #555;
}

.today-section {
  margin-bottom: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.today-section-header {
  background: #f5f5f5;
  padding: 10px 15px;
  font-weight: bold;
  color: #666;
  border-bottom: 1px solid #e0e0e0;
}

.today-section-header i {
  margin-right: 8px;
}

#today-morning-section .today-section-header {
  background: #fff8e1;
  border-bottom-color: #ffe082;
}

#today-starred-section .today-section-header {
  background: #fff3e0;
  border-bottom-color: #ffcc80;
}

#today-evening-section .today-section-header {
  background: #e8eaf6;
  border-bottom-color: #9fa8da;
}

.today-section-tasks {
  padding: 5px 0;
}

.today-task-item {
  padding: 8px 15px;
  border-bottom: 1px solid #f0f0f0;
}

.today-task-item:last-child {
  border-bottom: none;
}

.today-task-item:hover {
  background: #fafafa;
}

.today-task-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.today-task-main {
  flex: 1;
}

.today-task-actions {
  flex: 0 0 30px;
  text-align: right;
}

.today-task-item .task-checkbox {
  margin-right: 8px;
}

.today-task-item .task-meta {
  font-size: 0.85em;
  color: #999;
  margin-left: 10px;
}

/* ###################### AUTOCOMPLETE STYLES ###################### */

/* Container for autocomplete - positioned relative to task input */
#autocomplete-container {
  position: relative;
  display: inline-block;
  width: 85%;
}

/* Autocomplete dropdown */
#task-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 500;
  display: none;
}

/* Individual autocomplete item */
.autocomplete-item {
  padding: 10px 14px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.autocomplete-item:last-child {
  border-bottom: none;
}

.autocomplete-item:hover,
.autocomplete-item.selected {
  background-color: #eef;
}

/* Client items */
.autocomplete-item.client-item {
  font-weight: 500;
}

.autocomplete-item.client-item::before {
  content: "\f0b1";
  font-family: FontAwesome;
  margin-right: 8px;
  color: #888;
}

/* Project items */
.autocomplete-item.project-item {
  padding-left: 28px;
}

.autocomplete-item.project-item::before {
  content: "\f07b";
  font-family: FontAwesome;
  margin-right: 8px;
  color: #aaa;
}

/* Item name and meta info */
.autocomplete-item-name {
  display: inline;
}

.autocomplete-item-meta {
  font-size: 0.85em;
  color: #999;
  margin-left: 10px;
}

/* No matches message */
.autocomplete-no-matches {
  padding: 10px 14px;
  color: #999;
  font-style: italic;
}
